<div class="page-heading">
    <h1 class="text-center"><span class="book-cursive ">The Dashboard</span> </h1>
    <p class="text-center">
      
      </p>
</div>
<p>Welcome <%= user.name %></p>
<% include ./partials/messages %>
<a href="/shop/checkMessages" class="btn btn-info btn-sm">check messages</a>
<% if(typeof userMessages != 'undefined'){ %>
  <h5>Messages (<%= userMessages.length %>):</h5>

<div class="row msg-row">
  <div class="col col-12-md">
  <% userMessages.forEach(function(b,i){ %>
    <div class="card text-center">
      <div class="card-header dashboard-message-head">
          From: <%= b.sentName %> 
       
      </div>
      <div class="card-body">
        <h5 class="card-title">Re: <%= b.bookTitle %></h5>
        <p class="card-text"><%= b.theMsg %></p>
        <a href="/shop/deleteMsg/<%=b.msgID %>" class="btn btn-danger btn-sm">Delete</a>
      </div>
      <div class="card-footer text-muted">
           <small>Sent on <%= b.msgWhen.substr(0,10) %>
            at <%= b.msgWhen.substr(11,5) %></small>
      </div>
    </div>

   
    <% }) %>
  </div>
</div>
  <% } %>

<div class="container dashboard-main-container">
  <div class="row">

    <!-- all books by this user (from json) -->
    <div class="col-md-6">
      <div id="dashboard-json-col">
        <h2>All your books</h2>
        <% usersBooks.forEach(function(b){ %>
          <h5><%= b.title %><small> by 
          <%= b.author %></small></h5>

         
          <img class="thumbnail-size-img" src="<%= b.imageurl %>">
         

          <p><%= b.description %></p>
          <p style="visibility:hidden;"><%= b.forSale %></p>
          <p>Price: € <%= b.price || 'no price listed' %></p>
         
          <button class="btn btn-danger" 
                  data-bookid="<%= b.id %>" 
                  id="deleteJsonBook"
                  data-forSale="<%= b.forSale %>"
                  data-shopid="<%= b.shopID %>">Delete</button>
          <a href="/editJsonBook/<%= b.id %>" class="btn btn-info">Edit</a>
          <a href="/shop/addsqlbook/<%= b.id %>" class="btn btn-primary">Sell</a>
        
        <% }) %>
      </div>  
    </div>

    <!-- books for sale from this user (sql) -->
    <div class="col-md-6">
      
      <h2>Your Books for sale</h2>
     
      <button id="getallbooks" class="btn btn-sm btn-info">Show my Books for Sale</button>

      <div class="col" id="shop-books">
     
      </div>
        


    </div><!--end col md 6 -->


  </div>
</div>

<a href="/users/logout">Logout</a>