<h1>The shop <small>All books(all users) from sqldb</small></h1>
<% books.forEach(function(b){ %>
  <h5><%= b.bookTitle %><small> by 
  <%= b.authorName %></small></h5>
  <h2><%= b.userName %></h2>
 
  <!-- <img src="/img-<%= b.bookJsonID %>.jpg" alt=""> -->
  <p>Image from sql db:<%= b.userBookImage%></p>
  <img src="<%= b.userBookImage%>" alt="" class="thumbnail-size-img">
  
  <!-- <img src="/default-img.PNG" alt=""> -->
 
 <p>json id: <%=b.bookJsonID%></p>
  <p><%= b.bookDescription %></p>
  <p>Price: <%= b.bookPrice || 'no price listed' %></p>
<h1><%= b.userID %></h1>

<% if(user){ %>
  <a href="/shop/contactSeller/<%= b.userID %>/<%= user.id %>/<%= b.bookID %>"  data-bookID="<%= b.bookID %>" class="btn btn-primary">Contact Seller</a>


 <% }else{ %>
  <a href="/users/login" class="btn btn-primary" disabled>Login to contact seller</a>
  <% } %>
  <!-- <a href="/shop/addsqlbook/<%= b.id %>" class="btn btn-primary">Buy</a> -->

<% }) %>